__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
.env
.env.local
dist/
build/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/launch.json
.python-version
alembic/versions/*.pyc
minio-data/
postgres-data/
redis-data/
